@media only screen and (max-width: 425px) and (min-width: 375px) {
html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    width: 100%;
    height: 6.25rem;
    padding: 3%;
}
.lItem {
display: none;
}
.menu-icon {
    display: inline-block;
    cursor: pointer;
    width: 20px;
}
.menu-icon span {
    display: block;
    width: 30px;
    height: 5px;
    margin: 6px 0;
    background-color: black;
    transition: 0.4s;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
#hamburger-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    display: none;
}
@keyframes slideDown{
    from {
        max-height: 0px;
        opacity: 0;
    }
    to {
        max-height: 50px;
        opacity: 1;
    }
}
#hamburger-menu div {
    width: 100%;
    background-color: #E3CAA5;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideDown 0.5s 1 ease forwards;
}

#hamburger-menu div:hover {
    background-color: #AD8B73;
}
#logo {
    width: 4.735rem;
}
a {
    text-decoration: none;
    color: #603F26;
    font-weight: bold;
}

a:hover {
    border-bottom: 0.063rem solid #603F26;
}

#heroimage {
    width: 100%;
    height: 10%;
}
#reco {
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 1.8rem;
    margin: 5%;
    padding-top: 5%;
    color: #603F26;
}
h3 {
    font-size: 1rem;
    padding: 1%;
    color: #603F26;
    margin-top: 5%;
}
p {
    font-size: 0.75rem;
    padding: 1%;
    margin-top: 5%;
    color: #603F26;
}
button {
    display: block;
    width: 100%;
    border: none;
    background-color: #6C4E31;
    padding: 5%;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    color: white;
    margin-bottom: 10%;
    margin-top: 5%;
}
button:hover {
    background-color: #9b9885;
    color: black;
}
#browse {
    display: block;
    width: 50%;
    border: none;
    background-color: #603F26;
    padding: 5%;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    color: white;
    margin-left: 25%;
}
#browse:hover {
    background-color: #9b9885;
    color: black;
}
.recoproduct {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 10%;
}
.rproduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 3%;
}
.tea {
    width: 11.531rem;
}
#discover {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5%;
    margin-bottom: 20%;
}
#discover p {
    margin-bottom: 10%;
}
#search-btn {
    display: block;
    width: 100%;
    background-color: #6C4E31;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 0 0.313rem 0.313rem 0;
    height: 3rem;
    margin: 0;
}
#search-box {
    height: 3rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.313rem 0 0 0.313rem;
    outline: none;
    width: 12.5rem;
    transition: all 0.3s ease;
}
#searchee {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
}

@media only screen and (max-width: 1440px) and (min-width: 768px) {
    html {
        font-size: 18px;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    header {
        width: 100%;
        padding: 3%;
    }
    .menu-icon {
        display: none;
    }
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }
    #logo {
        width: 4.735rem;
    }
    a {
        text-decoration: none;
        color: #603F26;
        font-weight: bold;
    }
    
    a:hover {
        border-bottom: 0.063rem solid #603F26;
    }
    #hamburger-menu {
        display: none;
    }
    #heroimage {
        width: 100%;
        height: 10%;
    }
    #reco {
        padding: 0;
        margin: 0;
    }
    h2 {
        font-size: 1.8rem;
        margin: 5%;
        padding-top: 5%;
        color: #603F26;
    }
    h3 {
        font-size: 1.556rem;
        padding: 1%;
        color: #603F26;
        margin-top: 5%;
    }
    p {
        font-size: 1rem;
        padding: 1%;
        margin-top: 5%;
        color: #603F26;
    }
    button {
        display: block;
        width: 60%;
        border: none;
        background-color: #6C4E31;
        padding: 5%;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        color: white;
        margin-bottom: 10%;
        margin-top: 5%;
    }
    button:hover {
        background-color: #9b9885;
        color: black;
    }
    #browse {
        display: block;
        width: 50%;
        border: none;
        background-color: #603F26;
        padding: 3%;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        color: white;
        margin-left: 25%;
    }
    #browse:hover {
        background-color: #9b9885;
        color: black;
    }
    .recoproduct {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        margin-bottom: 10%;
    }
    .rproduct {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 3%;
    }
    .tea {
        width: 16.667rem;
    }
    #discover {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 5%;
        margin-bottom: 20%;
    }
    #discover p {
        margin-bottom: 10%;
    }
    #search-btn {
        display: block;
        width: 100%;
        background-color: #6C4E31;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        color: white;
        border-radius: 0 0.313rem 0.313rem 0;
        height: 3rem;
        margin: 0;
    }
    #search-box {
        height: 3rem;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        border: 0.063rem solid #ccc;
        border-radius: 0.313rem 0 0 0.313rem;
        outline: none;
        width: 12.5rem;
        transition: all 0.3s ease;
    }
    #searchee {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    }
    
