* {
    font-family: 'Poppins', sans-serif;
}
nav {
position: fixed;
top: 0;
width: 100%;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
background-color: #B19470;
display: flex;
flex-direction: row;
justify-content: flex-start;
}

li {
border-right: 1px solid white;
font-size: 20px;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #76453B;
}

.home {
background-color: #76453B;
}
#intro {
background-color: #F8FAE5;
background-position: center;
width: 84%;
min-height: 90vh;
padding: 10px 8%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}
h1, p {
padding-right: 10px;
color: black;
font-size: 32;
}